<!-- <p>viewdetails works!</p> -->
<nav class="navbar navbar-light bg-dark " >
    <!-- <span class="quote text-light">WELCOME</span> -->
    <button type="button" (click)="deleteAcc()" style="margin-left:90% ;border: 1px solid rgb(49, 209, 214); background-color: black; color: white;" class="btn ">Delect Account</button>

  </nav>
  <br><br>
<h1 style="text-align: center; color: darkblue;">VIEW EVENTS</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th>Date</th>
            <th>Events</th>
        </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let v of events">
                <th>{{v.date}}</th>
                <th>{{v.text}}</th>

            </tr>
        </tbody>
    </table>
    <a routerLink="/dashboard">Home</a>

</div>


