<nav class="navbar navbar-light bg-dark " >
<button class="btn btn-warning" (click)="logout()" style="margin-left:95%">Logout</button>
</nav>

<br>
<h1>Show a Date Control</h1>
<h4 style="color: white;">Login datails are{{loginDate|date:'shortDate'}}</h4>
<!-- {{ date | date: "shortDate" }}
// output: 10/30/19 -->

<div class="container w-25">
<div class="card" style="width: 25rem;">
    <div class="card-body"style="width: 25rem;">
<form [formGroup]="dateForm">
  <!-- <input type="text" name="userId" formControlName="userId" class="form-control"  placeholder="userId" id="login_accno" required> -->

    <h5 for="" style="color: white"  >Event:</h5>
    <!-- <input type="date" class="w-100"   id="event" formControlName="date"  [(ngModel)]="dateselected"  name="event" ><br><br> -->
    <input type="date" class="w-100"   id="event" formControlName="date"  name="date" ><br><br>

    <div class="text-center" *ngIf="(this.dateForm.get('date')?.touched) && this.dateForm.get('date')?.errors"
    style="color: red;">please Enter date</div>

    <textarea class="form-control text-center" formControlName="text" placeholder="Add Event Discription" id="floatingTextarea"></textarea>


    <div *ngIf="this.dateForm.get('text')?.touched&&this.dateForm.get('text')?.errors" style="color: red;">
      Invalid password
    </div><br>
  <!-- <button class="btn btn-primary" type="submit"  value="date" >submit</button><br><br> -->
  <button type="button" (click)="addEvent()" style="border: 1px solid cadetblue;" class="btn ">Add Event</button>
 <br><br>
  <button type="button" routerLink="/viewdetails"  style="border: 1px solid cadetblue;" class="btn ">View Event</button>


</form>
</div>
</div>
</div>